<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="image/appImage/logo.jpg" type="image/png">
    <!-- My Css -->
    <!-- <link rel="stylesheet" href="style/auth.css"> -->
    <!-- Font arewesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- My font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,900&display=swap" rel="stylesheet">
  </head>
<body>

  <style>
    html,body{width:100%; height:100%; margin:0; padding:0}
    .main{
    font-family: 'Montserrat';
    font-weight: 500;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .modal-form {
      display: inline-block;
      width: 680px;
      height: auto;
      background-color: #fff;
      border-radius: 10px;
      padding-bottom: 100px;
    }
    .form-center{
      width: 460px;
      height: auto;
      margin: auto;
      transform: translateY(65px);
    }

    .main .modal-form .form-center .form-title {
    font-size: 39px;
    color: #555555;
    text-align: center;
    }

    .main .login-form .alert-error-login {
    width: 100%;
    height: auto;
    margin-top: 20px;
    }
    .main .login-form .btn-login {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #333333;
    display: block;
    padding: 0 20px;
    margin-top: 20px;
    border-radius: 10px;
    line-height: 60px;
    text-align: center;
    color: white;
    text-decoration: none;
    z-index: 1;
    }
    .main .login-form .btn-login:before {
      transition: 0.4s;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      background: linear-gradient(45deg, #00dbde, #fc00ff);
      border-radius: 10px;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
    }

    .main .login-form .btn-login:hover:before {
      opacity: 1;
      visibility: visible;
    }

    .main .login-form .alert-error-login .error-login {
      color: red;
      margin-top: 20px;
    }

    @media (max-width: 768px) {
    .modal-form {
      width: 95% !important;
    }
    .modal-form .form-center {
      width: 95% !important;
    }
    .modal-form .form-center .wrap-register, .modal-form .form-center .wrap-input {
      padding: 0 !important;
    }
    .modal-form .form-center .wrap-register input, .modal-form .form-center .wrap-input input {
      padding: 0 !important;
    }
    .modal-form .form-center .wrap-register .effect-input, .modal-form .form-center .wrap-input .effect-input {
      padding: 0 !important;
    }
    .modal-form .form-center .btn-login, .modal-form .form-center .btn-register {
      width: 100% !important;
      padding: 0 !important;
    }
  }

  @media (max-width: 576px) {
    .modal-form .login-with-app {
      margin-top: 40px !important;
      display: block !important;
    }
    .modal-form .login-with-app .btn-facebook, .modal-form .login-with-app .btn-google {
      width: 100% !important;
      margin-bottom: 20px !important;
    }
    .modal-form .title-username {
      padding-top: 150px !important;
    }
}
  </style>

  <div class="main" style="background-image: url(image/appImage/bg-01.jpg);">

  <div class="login-form modal-form">
    <div class="form-center">
      <div class="form-title">Thông Báo</div>

      <!-- alert when have a error login -->
      <div class="alert-error-login">
      <% if(data === true) { %>
        <div class="success-login" style="color: #0d9427;">
          <i style="margin-right: 10px;" class="fa fa-check" aria-hidden="true"></i>
          Kích hoạt thành công, bây giờ bạn có thể đăng nhập vào tài khoản của mình.
        </div> 
      <% } %>
      <% if(data === false){ %>
        <div class="error-login">
          <i style="margin-right: 10px;" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Kích hoạt thất bại vui lòng kiểm tra lại hoặc liên hệ với bộ phận hỗ  trợ của chúng tôi. Xin cảm ơn !
        </div>
      <% } %>
    </div>

      <a class="btn-login" href="/login">Đăng Nhập</a>
    </div>
  </div>
  </div>
  
  <!-- jQuery  -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- My script -->
  <!-- <script src="javascript/authConfig.js"></script>
  <script src="javascript/userRegister.js"></script> -->


</body></html>