/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2f7059;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3db16b;
}

.unread_notification {
  background-color: #3db15b33;
}

.message-item {
  position: relative;
  margin-left: 25px;
  max-width: 50% !important;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.sub_mess_avatar {
  position: absolute;
  top: 10px;
  left: -26px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

#modal-chat {
  width: 100vh !important;
}

#modal-chat .people-viewed-mess {
  top: 0;
  left: 0;
  display: none;
  width: 300px;
  max-width: 80%;
  height: auto;
  background-color: #464852;
  margin-left: 50px;
  border-radius: 5px;
  margin: 0 !important;
  padding: 0 !important;
}

#modal-chat .people-viewed-mess > li {
  margin: 0 !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  color: #acacac;
  margin-top: 5px;
  font-style: italic;
  font-size: 14px;
}

#modal-chat .people-viewed-mess > li img {
  margin-top: 6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
}

#modal-chat .people-viewed-mess > li .name {
  width: 184px;
}

#modal-chat .people-viewed-mess > li .time {
  width: 150px;
}

#addFriends .list-friends, #newGroup .list-friends {
  width: 100%;
  padding: 0px 30px;
  max-height: 400px;
  overflow-y: scroll;
}

#addFriends .list-friends .list-friend-item, #newGroup .list-friends .list-friend-item {
  width: 100%;
  min-height: 70px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}

#addFriends .list-friends .list-friend-item .avatar, #newGroup .list-friends .list-friend-item .avatar {
  width: 65px;
  height: 65px !important;
}

#addFriends .list-friends .list-friend-item .avatar img, #newGroup .list-friends .list-friend-item .avatar img {
  width: 100%;
  height: 100%;
}

#addFriends .list-friends .list-friend-item .users-list-body, #newGroup .list-friends .list-friend-item .users-list-body {
  width: 70%;
  min-height: 20px !important;
  padding-left: 20px;
  padding-right: 10px;
}

#addFriends .list-friends .list-friend-item .btn-add-friend, #newGroup .list-friends .list-friend-item .btn-add-friend {
  width: 65px;
  height: 70px !important;
}

#btn-search-friends-to-add-group {
  position: absolute;
  background: #3db16b;
  right: 0px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 34px;
  height: 37px;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal-error-update-infor {
  margin-top: 15px;
}

#modal-error-update-infor .alert-error-update-infor {
  color: red;
}

#modal-error-update-infor .alert-success-update-infor {
  color: #0d9427;
}

@media (max-width: 768px) {
  #modal-chat {
    width: 100 !important;
  }
  .message-item {
    padding-right: 0 !important;
    margin-bottom: 20px;
    overflow-wrap: break-word;
  }
}

@media (max-width: 576px) {
  #modal-chat {
    width: 100 !important;
  }
  .message-item {
    padding-right: 0 !important;
    margin-bottom: 20px;
    overflow-wrap: break-word;
  }
  #addFriends .list-friends .list-friend-item .avatar {
    margin-bottom: 15px;
  }
  #addFriends .list-friends .list-friend-item .users-list-body {
    margin-bottom: 15px;
    text-align: center !important;
  }
}
/*# sourceMappingURL=main.css.map */