 <!-- Form login -->
 <div class="login-form modal-form">
  <div class="form-center">

    <div class="form-title">Đăng nhập với </div>

    <div class="login-with-app">
      <div class="btn-facebook">
        <i class="fa fa-facebook-official" aria-hidden="true" style="color: white"></i>
        <span>Facebook</span>
      </div>
      <div class="btn-google">
        <img src="image/appImage/icon-google.png" alt="">
        <span>Google</span>
      </div>
    </div>

    <!-- alert when have a error login -->
    <div class="alert-error-login">
      <!-- <div class="error-login">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Tài khoản hoặc mật khẩu không chính xác xin vui lòng kiểm tra lại !
      </div>
      <div class="success-login">
        <i class="fa fa-check" aria-hidden="true"></i>
        Đăng ký thành công vui lòng kiểm tra email để  xác thực tài khoản của bạn.
      </div> -->
    </div>

    <div class="title-username"><span>Tài khoản</span></div>
    <div class="wrap-input">
      <input class="login-nameAccount" type="text" name="nameAccount">
      <span class="effect-input"></span>
    </div>
    <div class="title-password"><span>Mật khẩu <a class="forgot-password" href="javascript:void(0)">quên mật khẩu?</a> </span></div>
    <div class="wrap-input">
      <input class="login-password" type="password" name="password">
      <span class="effect-input"></span>
    </div>

    <a class="btn-login" href="javascript:void(0)">Đăng nhập</a>

    <span class="go-to-register">Bạn chưa có tài khoản ? <a class="btn-go-to-register" href="javascript:void(0)">Đăng ký ngay</a> </span>

  </div>
</div>