<!-- Form register -->
<div class="register-form modal-form">
  <div class="form-center">
    <div class="form-title">Đăng ký</div>

    <!-- alert when have a error login -->
    <div class="alert-error-register">
      <!-- <div class="error-register">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Tài khoản hoặc mật khẩu không chính xác xin vui lòng kiểm tra lại !
      </div> -->
    </div>

    <div class="title-register">Email</div>
    <div class="wrap-register wrap-register-email">
      <input type="email" name="email" id="register-email">
      <span class="effect-input"></span>
    </div>

    <div class="title-register" >Tài khoản</div>
    <div class="wrap-register wrap-register-nameAccount">
      <input type="text" name="register-nameAccount" id="register-nameAccount">
      <span class="effect-input"></span>
    </div>

    <div class="title-register" >Họ và Tên</div>
    <div class="wrap-register wrap-register-username">
      <input type="text" name="register-username" id="register-username">
      <span class="effect-input"></span>
    </div>

    <div class="title-register">Mật khẩu</div>
    <div class="wrap-register wrap-register-password">
      <input type="password" name="register-password" id="register-password">
      <span class="effect-input"></span>
    </div>

    <div class="title-register">Nhập lại mật khẩu</div>
    <div class="wrap-register wrap-repair-password">
      <input type="password" name="repair-password" id="repair-password">
      <span class="effect-input"></span>
    </div>

    <form class="form-check-gender">
      <label for="male">Nam</label>
      <input type="radio" name="gender" id="male" value="male">
      <label for="female">Nữ</label>
      <input type="radio" name="gender" id="female" value="female">
    </form>

    <a class="btn-register"  href="javascript:void(0)">Đăng ký</a>

    <span class="go-to-login">Bạn đã có tài khoản ? <a class="btn-go-to-login" href="javascript:void(0)">Đăng nhập</a> </span>

  </div>
</div>