<!-- Contact information -->
<div class="sidebar-group">
  <div id="contact-information" class="sidebar">
      <header>
          <span>Thông tin : </span>
          <ul class="list-inline">
              <li class="list-inline-item">
                  <a href="#" class="btn btn-light sidebar-close">
                      <i class="ti-close"></i>
                  </a>
              </li>
          </ul>
      </header>
      <div class="sidebar-body">
          <div class="pl-4 pr-4 text-center">
              <figure class="avatar avatar-state-danger avatar-xl mb-4">
                  <img id="view-user-infor-avatar" src="image/userImages/women_avatar5.jpg" class="rounded-circle">
              </figure>
              <h5 id="view-user-infor-name" class="text-primary">Frans Hanscombe</h5>
              <p id="view-user-infor-class" class="text-muted">Last seen: Today</p>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>Giới thiệu</h6>
              <p id="view-user-infor-about" class="text-muted">I love reading, traveling and discovering new things. You need to be happy in life.</p>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>Số điện thoại</h6>
              <p id="view-user-infor-phoneNumber" class="text-muted">(555) 555 55 55</p>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>Ảnh</h6>
              <div class="files">
                  <ul id="view-user-infor-images" class="list-inline"> 
                      
                  </ul>
              </div>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>Địa chỉ</h6>
              <p id="view-user-infor-address" class="text-muted">Germany / Berlin</p>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>Website</h6>
              <p>
                  <a id="view-user-infor-website" href="#">www.franshanscombe.com</a>
              </p>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>Liên kết </h6>
              <ul class="list-inline social-links">
                  <li class="list-inline-item">
                      <a id="view-user-infor-facebook" href="#" class="btn btn-sm btn-floating btn-facebook">
                          <i class="fa fa-facebook"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                        <a id="view-user-infor-instagram" href="#" class="btn btn-sm btn-floating btn-instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-sm btn-floating btn-twitter">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-sm btn-floating btn-dribbble">
                          <i class="fa fa-dribbble"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-sm btn-floating btn-whatsapp">
                          <i class="fa fa-whatsapp"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-sm btn-floating btn-linkedin">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-sm btn-floating btn-google">
                          <i class="fa fa-google"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="#" class="btn btn-sm btn-floating btn-behance">
                          <i class="fa fa-behance"></i>
                      </a>
                  </li>
              </ul>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <div class="form-group">
                  <div class="form-item custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch11">
                      <label class="custom-control-label" for="customSwitch11">Block</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="form-item custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" checked="" id="customSwitch12">
                      <label class="custom-control-label" for="customSwitch12">Mute</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="form-item custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch13">
                      <label class="custom-control-label" for="customSwitch13">Get notification</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ./ Contact information -->