<!-- Contact information -->
<div class="sidebar-group">
  <div id="contact-information" class="sidebar sidebar-group-information">
      <header>
          <span>Thông tin : </span>
          <ul class="list-inline">
              <li class="list-inline-item">
                  <a href="#" class="btn btn-light sidebar-close">
                      <i class="ti-close"></i>
                  </a>
              </li>
          </ul>
      </header>
      <div class="sidebar-body">
          <div class="pl-4 pr-4 text-center">
              <figure class="avatar avatar-state-danger avatar-xl mb-4">
                  <img src="image/userImages/women_avatar5.jpg" class="rounded-circle">
              </figure>
              <h5 class="text-primary">TMĐT K17A</h5>
              <p class="text-muted">We Are One</p>
          </div>
          <hr>
          <div class="pl-4 pr-4 group-leader-infor">
              <h6>Trưởng nhóm : </h6>
              <img src="/image/userImages/avatarGroup.jpg" alt="">
              <h5>Dũng 1</h5>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>Ngày thành lập</h6>
              <p class="text-muted"><%= new Date().getFullYear() %></p>
          </div>
          <hr>
          <div class="pl-4 pr-4 group-members-infor">
            <h6>Thành viên (3) : </h6>
            <div class="user">
                <ul id="view-infor-all-of-members"> 
                    <li>
                        <img src="/image/userImages/avatarGroup.jpg" alt="">
                        <p><strong>Dũng Dương</strong></p>

                    </li>
                    <li>
                        <img src="/image/userImages/avatarGroup.jpg" alt="">
                        <p><strong>Dũng Dương</strong></p>
                    </li>
                    <li>
                        <img src="/image/userImages/avatarGroup.jpg" alt="">
                        <p><strong>Dũng Dương</strong></p>
                    </li>
                    <li>
                        <img src="/image/userImages/avatarGroup.jpg" alt="">
                        <p><strong>Dũng Dương</strong></p>
                    </li>
                    <li>
                        <img src="/image/userImages/avatarGroup.jpg" alt="">
                        <p><strong>Dũng Dương</strong></p>
                    </li>
                    <li>
                        <img src="/image/userImages/avatarGroup.jpg" alt="">
                        <p><strong>Dũng Dương</strong></p>
                    </li>
                    <li>
                        <img src="/image/userImages/avatarGroup.jpg" alt="">
                        <p><strong>Dũng Dương</strong></p>
                    </li>
                </ul>
            </div>
            </div>
            <hr>
          <div class="pl-4 pr-4">
              <h6>Ảnh</h6>
              <div>
                  <ul class="group-image-share"> 
                    <img src="/image/userImages/avatarGroup.jpg" alt="">
                    <img src="/image/userImages/avatarGroup.jpg" alt="">
                    <img src="/image/userImages/avatarGroup.jpg" alt="">
                    <img src="/image/userImages/avatarGroup.jpg" alt="">
                    <img src="/image/userImages/avatarGroup.jpg" alt="">
                    <img src="/image/userImages/avatarGroup.jpg" alt="">
                  </ul>
              </div>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <h6>File</h6>
              <ul class="group-files-share">
                <p class="text-muted">Germany / Berlin</p>
                <p class="text-muted">Germany / Berlin</p>
                <p class="text-muted">Germany / Berlin</p>
                <p class="text-muted">Germany / Berlin</p>
                <p class="text-muted">Germany / Berlin</p>
                <p class="text-muted">Germany / Berlin</p>
                <p class="text-muted">Germany / Berlin</p>
                <p class="text-muted">Germany / Berlin</p>
              </ul>
          </div>
          <hr>
          <div class="pl-4 pr-4">
              <div class="form-group">
                  <div class="form-item custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch11">
                      <label class="custom-control-label" for="customSwitch11">Block</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="form-item custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" checked="" id="customSwitch12">
                      <label class="custom-control-label" for="customSwitch12">Mute</label>
                  </div>
              </div>
              <div class="form-group">
                  <div class="form-item custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="customSwitch13">
                      <label class="custom-control-label" for="customSwitch13">Get notification</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ./ Contact information -->