<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="image//appImage/logo.jpg" type="image/png">
    <!-- My Css -->
    <link rel="stylesheet" href="style/auth.css">
    <!-- Font arewesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- My font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main" style="background-image: url(image/appImage/bg-01.jpg);">

      <!-- Form login -->
      <div class="login-form modal-form">
        <div class="form-center">

          <div class="form-title">Đăng nhập với </div>

          <div class="login-with-app">
            <div class="btn-facebook">
              <i class="fa fa-facebook-official" aria-hidden="true" style="color: white"></i>
              <span>Facebook</span>
            </div>
            <div class="btn-google">
              <img src="image/appImage/icon-google.png" alt="">
              <span>Google</span>
            </div>
          </div>

          <!-- alert when have a error login -->
          <!-- <div class="alert-error-login">
            <div class="error-login">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Tài khoản hoặc mật khẩu không chính xác xin vui lòng kiểm tra lại !
            </div>
          </div> -->

          <div class="title-username"><span>Tài khoản</span></div>
          <div class="wrap-input">
            <input class="login-nameAccount" type="text" name="nameAccount">
            <span class="effect-input"></span>
          </div>
          <div class="title-password"><span>Mật khẩu <a class="forgot-password" href="javascript:void(0)">quên mật khẩu?</a> </span></div>
          <div class="wrap-input">
            <input class="login-password" type="password" name="password">
            <span class="effect-input"></span>
          </div>

          <a class="btn-login" href="javascript:void(0)">Đăng nhập</a>

          <span class="go-to-register">Bạn chưa có tài khoản ? <a class="btn-go-to-register" href="javascript:void(0)">Đăng ký ngay</a> </span>

        </div>
      </div>

      <!-- Form register -->
      <div class="register-form modal-form">
        <div class="form-center">
          <div class="form-title">Đăng ký</div>

          <!-- alert when have a error login -->
          <!-- <div class="alert-error-register">
            <div class="error-register">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Tài khoản hoặc mật khẩu không chính xác xin vui lòng kiểm tra lại !
            </div>
          </div> -->

          <div class="title-register">Email</div>
          <div class="wrap-register wrap-register-email">
            <input type="email" name="email" id="register-email">
            <span class="effect-input"></span>
          </div>

          <div class="title-register" >Tài khoản</div>
          <div class="wrap-register wrap-register-username">
            <input type="text" name="register-username" id="register-username">
            <span class="effect-input"></span>
          </div>

          <div class="title-register">Mật khẩu</div>
          <div class="wrap-register wrap-register-password">
            <input type="password" name="register-password" id="register-password">
            <span class="effect-input"></span>
          </div>

          <div class="title-register">Nhập lại mật khẩu</div>
          <div class="wrap-register wrap-repair-password">
            <input type="password" name="repair-password" id="repair-password">
            <span class="effect-input"></span>
          </div>

          <form class="form-check-gender">
            <label for="male">Nam</label>
            <input type="radio" name="gender" id="male" value="male">
            <label for="female">Nữ</label>
            <input type="radio" name="gender" id="female" value="female">
          </form>

          <a class="btn-register" href="javascript:void(0)">Đăng ký</a>

          <span class="go-to-login">Bạn đã có tài khoản ? <a class="btn-go-to-login" href="javascript:void(0)">Đăng nhập</a> </span>

        </div>
      </div>
    </div>

    <!-- jQuery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- My script -->
    <script src="javascript/authConfig.js"></script>
  </body>
</html>