<!-- add friends modal -->
<div class="modal fade" id="addFriends" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">
                  <i class="ti-user"></i> Thêm bạn bè
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="ti-close"></i>
              </button>
          </div>
          <div class="modal-body">
              <div class="alert alert-info">Hãy gửi lời mời kết bạn đến mọi người</div>
              <form>
                  <div class="form-group">
                      <label for="emails" class="col-form-label">Tên hoặc Email</label>
                      <input type="text" class="form-control" id="search-friends">
                  </div>
              </form>
          </div>
          <ul class="list-friends">
            <!-- <li class="list-friend-item">
                <figure class="avatar">
                    <img src="image/userImages/man_avatar1.jpg" class="rounded-circle">
                </figure>
                <div class="users-list-body">
                    <h5>Patsy Paulton</h5>
                    <p>Lớp : Chưa cập nhật</p>
                </div>
                <button type="button" class="btn-add-friend btn btn-primary">Thêm</button>
            </li> -->
            
            <!-- <li class="list-friend-item">Không có kết quả nào phù hợp</li> -->
            </ul>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btn-search-friends">Tìm kiếm</button>
          </div>
      </div>
  </div>
</div>
<!-- ./ add friends modal -->