<!-- call modal -->
<div class="modal call fade" id="call" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <div class="call">
                  <div class="call-background" style="background: url(image/userImages/call-bg.png)"></div>
                  <div>
                      <figure class="mb-4 avatar avatar-xl">
                          <img src="image/userImages/women_avatar1.jpg" class="rounded-circle">
                      </figure>
                      <h4 class="text-center">Jennica Kindred calling ...</h4>
                      <div class="action-button">
                          <button type="button" class="btn btn-danger btn-floating btn-lg" data-dismiss="modal">
                              <i class="ti-close"></i>
                          </button>
                          <button type="button" class="btn btn-success btn-pulse btn-floating btn-lg">
                              <i class="fa fa-phone"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ./ call modal -->