<!-- new group modal -->
<div class="modal fade" id="newGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">
                  <i class="fa fa-users"></i> New Group
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="ti-close"></i>
              </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label for="group_name" class="col-form-label">Group name</label>
                      <input type="text" class="form-control" id="group_name">
                  </div>
                  <div class="form-group">
                      <label for="users" class="col-form-label">Users</label>
                      <input type="text" class="form-control" id="users" placeholder="Find user">
                  </div>
                  <ul class="list-friends">
                    <li class="list-friend-item">
                        <figure class="avatar">
                            <img src="image/userImages/man_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <div class="users-list-body">
                            <h5>Patsy Paulton</h5>
                            <p>Traditional heading elscas sdscsd sdcsdsc</p>
                        </div>
                        <button type="button" class="btn-add-friend btn btn-primary">Thêm</button>
                    </li>
                    <li class="list-friend-item">
                        <figure class="avatar">
                            <img src="image/userImages/man_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <div class="users-list-body">
                            <h5>Patsy Paulton</h5>
                            <p>Traditional heading elscas sdscsd sdcsdsc</p>
                        </div>
                        <button type="button" class="btn-add-friend btn btn-primary">Thêm</button>
                    </li>
                    <li class="list-friend-item">
                        <figure class="avatar">
                            <img src="image/userImages/man_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <div class="users-list-body">
                            <h5>Patsy Paulton</h5>
                            <p>Traditional heading elscas sdscsd sdcsdsc</p>
                        </div>
                        <button type="button" class="btn-add-friend btn btn-primary">Thêm</button>
                    </li>
                    <li class="list-friend-item">
                        <figure class="avatar">
                            <img src="image/userImages/man_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <div class="users-list-body">
                            <h5>Patsy Paulton</h5>
                            <p>Traditional heading elscas sdscsd sdcsdsc</p>
                        </div>
                        <button type="button" class="btn-add-friend btn btn-primary">Thêm</button>
                    </li>
                    <li class="list-friend-item">
                        <figure class="avatar">
                            <img src="image/userImages/man_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <div class="users-list-body">
                            <h5>Patsy Paulton</h5>
                            <p>Traditional heading elscas sdscsd sdcsdsc</p>
                        </div>
                        <button type="button" class="btn-add-friend btn btn-primary">Thêm</button>
                    </li>
                    <li class="list-friend-item">
                        <figure class="avatar">
                            <img src="image/userImages/man_avatar1.jpg" class="rounded-circle">
                        </figure>
                        <div class="users-list-body">
                            <h5>Patsy Paulton</h5>
                            <p>Traditional heading elscas sdscsd sdcsdsc</p>
                        </div>
                        <button type="button" class="btn-add-friend btn btn-primary">Thêm</button>
                    </li>
                    </ul>
                  <div class="form-group">
                      <div class="avatar-group">
                          <figure class="avatar">
                            <img src="image/userImages/women_avatar1.jpg" class="rounded-circle" title="Dương Hoàng Dũng">
                          </figure>
                          <figure class="avatar">
                              <img src="image/userImages/women_avatar1.jpg" class="rounded-circle">
                          </figure>
                          <figure class="avatar">
                              <span class="avatar-title bg-danger rounded-circle">S</span>
                          </figure>
                          <figure class="avatar">
                              <img src="image/userImages/man_avatar2.jpg" class="rounded-circle">
                          </figure>
                          <figure class="avatar">
                              <span class="avatar-title bg-info rounded-circle">C</span>
                          </figure>
                          <a href="#">
                              <figure class="avatar">
                                  <span class="avatar-title bg-primary rounded-circle"><i class="fa fa-search" aria-hidden="true"></i></span>
                              </figure>
                          </a>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="description" class="col-form-label">Description</label>
                      <textarea class="form-control" id="description"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary">Create Group</button>
          </div>
      </div>
  </div>
</div>
<!-- ./ new group modal -->