<!-- Friends sidebar -->
<div id="notification-modal" class="sidebar" style="position: relative;">
  <style>
      #remove_all_notifications{
          font-size: 15px;
          text-align: center;
          cursor: pointer;
          color: #3db16b;
      }
  </style>
  <header>
      <span>Thông Báo</span>
      <ul class="list-inline">
          <li class="list-inline-item d-lg-none d-sm-block">
              <a href="#" class="btn btn-light sidebar-close">
                  <i class="ti-close"></i>
              </a>
          </li>
      </ul>
  </header>
  <p id="remove_all_notifications">Xóa thông báo</p>
  <div class="sidebar-body">
      <ul class="list-group list-group-flush">
        <% listNotifications.forEach( notif => { %>
            <li class="list-group-item <% if(notif.isRead === false){%> unread_notification <%} %>" data-uid="<%= notif._id %>" >
                <div>
                    <figure class="avatar">
                        <img src="image/userImages/<%= notif.senderNotif.avatar %>" class="rounded-circle">
                    </figure>
                </div>
                <div class="users-list-body">
                    <h5 style="line-height: 22px !important; "><%- notif.content %></h5>
                    <p><i style="padding-right: 10px" class="fa fa-clock-o" aria-hidden="true"></i><%= notif.time %> </p>
                </div>
            </li>      
        <% } ) %>
      </ul>
  </div>
</div>
<!-- ./ Friends sidebar -->