<style>
    #modal-chat-person .outgoing-message ,#modal-chat-group .outgoing-message{
        padding-right: 10px;
    }
</style>
<!-- chat -->
<div class="chat" id="modal-chat-person" style="display: none;" >
  <div class="chat-header">
      <div class="chat-header-user">
          <figure class="avatar avatar-lg">
              <img id="content-chat-person-avatar" src="image/userImages/man_avatar3.jpg" class="rounded-circle">
          </figure>
          <div>
              <h5 id="content-chat-person-name">Karl Hubane</h5>
              <small class="text-muted">
                  <i>Online</i>
              </small>
          </div>
      </div>
      <div class="chat-header-action">
          <ul class="list-inline">
              <li class="list-inline-item">
                  <a href="#" class="btn btn-success">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a href="#" class="btn btn-secondary">
                      <i class="fa fa-video-camera" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a href="#" class="btn btn-secondary" data-toggle="dropdown" aria-expanded="false">
                      <i class="ti-more"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1443px, 68px, 0px);">
                      <a href="#" data-navigation-target="contact-information" class="dropdown-item active">Profile</a>
                      <a href="#" class="dropdown-item">Add to archive</a>
                      <a href="#" class="dropdown-item">Delete</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">Block</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
  <div class="chat-body" tabindex="1" style=" outline: none; position: relative;"> <!-- .no-message -->

      <div class="messages" style="width: 100%; max-height: 100%; bottom: 0; position: absolute; overflow-y: scroll;">
          <div class="message-item outgoing-message">
              <div class="message-content">
                  Hey, Maher! I'm waiting for you to send me the files.
              </div>
              <div class="message-action">
                  Am 09:34 <i class="ti-double-check"></i>
              </div>
          </div>
         
      </div>
  </div>
  <div class="chat-footer">
      <form action="">
          <input type="text" class="form-control" placeholder="Soạn tin" aria-label="Soạn tin" aria-describedby="button-addon2">
          <div class="form-buttons">
              <button class="btn btn-light btn-floating" type="button">
                  <i class="fa fa-paperclip"></i>
              </button>
              <button class="btn btn-light btn-floating" type="button">
                  <i class="fa fa-microphone"></i>
              </button>
              <button class="btn btn-primary btn-floating" type="submit">
                  <i class="fa fa-send"></i>
              </button>
          </div>
      </form>
  </div>
</div>
<div class="chat" id="modal-chat-group" >
    <div class="chat-header">
        <div class="chat-header-user">
            <figure class="avatar avatar-lg">
                <img id="content-chat-group-avatar" src="image/userImages/man_avatar3.jpg" class="rounded-circle">
            </figure>
            <div>
                <h5>Karl Hubane</h5>
                <small class="text-muted">
                    <i>Online</i>
                </small>
            </div>
        </div>
        <div class="chat-header-action">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-secondary">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-secondary" data-toggle="dropdown" aria-expanded="false">
                        <i class="ti-more"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1443px, 68px, 0px);">
                        <a href="#" data-navigation-target="group-information" class="dropdown-item active">Xem hồ sơ</a>
                        <a href="#" class="dropdown-item">Xem tài liệu đã được chia sẻ</a>
                        <a href="#" class="dropdown-item">Rời nhóm</a>
                        <a href="#" class="dropdown-item">Chuyển quản trị viên</a>
                        <a href="#" class="dropdown-item">Thêm người</a>
                        <a href="#" class="dropdown-item">Xóa group</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-body" tabindex="1" style="overflow: hidden; outline: none;"> <!-- .no-message -->
        <!--
        <div class="no-message-container">
            <i class="fa fa-comments-o"></i>
            <p>Select a chat to read messages</p>
        </div>
        -->
        <div class="messages">
            <div class="message-item outgoing-message">
                <div class="message-content">
                    Hey, Maher! I'm waiting for you to send me the files.
                </div>
                <div class="message-action">
                    Am 09:34 <i class="ti-double-check"></i>
                </div>
            </div>
            <div class="message-item">
                <div class="message-content">
                    I'm sorry :( I'll send you as soon as possible.
                </div>
                <div class="message-action">
                    Pm 14:20
                </div>
            </div>
            <div class="message-item outgoing-message">
                <div class="message-content">
                    I'm waiting. Thank you :)
                </div>
                <div class="message-action">
                    Pm 14:25 <i class="ti-double-check"></i>
                </div>
            </div>
            <div class="message-item">
                <div class="message-content">
                    I'm sending files now.
                </div>
                <div class="message-action">
                    Pm 14:20
                </div>
            </div>
            <div class="message-item">
                <div class="message-content message-file">
                    <div class="file-icon">
                        <i class="ti-file"></i>
                    </div>
                    <div>
                        <div>important_documents.pdf <i class="text-muted small">(50KB)</i></div>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#">Download</a></li>
                            <li class="list-inline-item"><a href="#">View</a></li>
                        </ul>
                    </div>
                </div>
                <div class="message-action">
                    Pm 14:25
                </div>
            </div>
            <div class="message-item outgoing-message">
                <div class="message-content">
                    Thank you so much. After I review these files, I will give you my opinion. If there's a problem, you can send it back. Good luck with!
                </div>
                <div class="message-action">
                    Pm 14:50 <i title="Message could not be sent" class="ti-info-alt text-danger"></i>
                </div>
            </div>
            <div class="message-item">
                <div class="message-content">
                    I can't wait
                </div>
                <div class="message-action">
                    Pm 15:00
                </div>
            </div>
            <div class="message-item outgoing-message">
                <div class="message-content">
                    I know how important this file is to you. You can trust me ;)
                </div>
                <div class="message-action">
                    Pm 14:50 <i class="ti-double-check"></i>
                </div>
            </div>
        <div class="message-item "><div class="message-content">Lorem ipsum dolor sit amet.</div><div class="message-action">PM 14:25 </div></div></div>
    </div>
    <div class="chat-footer">
        <form action="">
            <input type="text" class="form-control" placeholder="Soạn tin" aria-label="Soạn tin" aria-describedby="button-addon2">
            <div class="form-buttons">
                <button class="btn btn-light btn-floating" type="button">
                    <i class="fa fa-paperclip"></i>
                </button>
                <button class="btn btn-light btn-floating" type="button">
                    <i class="fa fa-microphone"></i>
                </button>
                <button class="btn btn-primary btn-floating" type="submit">
                    <i class="fa fa-send"></i>
                </button>
            </div>
        </form>
    </div>
  </div>
<!-- ./ chat -->