<style>
    #modal-chat .outgoing-message {
        padding-right: 10px;
    }
</style>
<!-- chat -->
<div class="chat" id="modal-chat" >
  <div class="chat-header">
      <div class="chat-header-user">
          <figure class="avatar avatar-lg">
              <img id="content-chat-person-avatar" src="image/userImages/man_avatar3.jpg" class="rounded-circle">
          </figure>
          <div>
              <h5 id="content-chat-person-name">Karl Hubane</h5>
              <small class="text-muted">
                  <i>Online</i>
              </small>
          </div>
      </div>
      <div class="chat-header-action">
          <ul class="list-inline">
              <li class="list-inline-item">
                  <a href="#" class="btn btn-success">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a href="#" class="btn btn-secondary">
                      <i class="fa fa-video-camera" aria-hidden="true"></i>
                  </a>
              </li>
              <li class="list-inline-item">
                  <a href="#" class="btn btn-secondary" data-toggle="dropdown" aria-expanded="false">
                      <i class="ti-more"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1443px, 68px, 0px);">
                      <a href="#" data-navigation-target="contact-information" class="dropdown-item active">Profile</a>
                      <a href="#" class="dropdown-item">Add to archive</a>
                      <a href="#" class="dropdown-item">Delete</a>
                      <div class="dropdown-divider"></div>
                      <a href="#" class="dropdown-item">Block</a>
                  </div>
              </li>
          </ul>
      </div>
  </div>
  <div class="chat-body" tabindex="1" style=" outline: none; display: flex; align-items: flex-end;"> <!-- .no-message -->

      <div class="messages" style="width: 100%; max-height: 100%;  overflow-y: scroll;">
          <div class="message-item outgoing-message">
              <div class="message-content">
                  Hey, Maher! I'm waiting for you to send me the files.
              </div>
              <div class="message-action">
                  Am 09:34 <i class="ti-double-check"></i>
              </div>
          </div>
         
      </div>
  </div>
  <div class="chat-footer">
      <form action="">
          <input type="text" class="form-control" placeholder="Soạn tin" aria-label="Soạn tin" aria-describedby="button-addon2">
          <div class="form-buttons">
              <button class="btn btn-light btn-floating" type="button">
                  <i class="fa fa-paperclip"></i>
              </button>
              <button class="btn btn-light btn-floating" type="button">
                  <i class="fa fa-microphone"></i>
              </button>
              <button class="btn btn-primary btn-floating" type="submit">
                  <i class="fa fa-send"></i>
              </button>
          </div>
      </form>
  </div>
</div>

<!-- ./ chat -->